PORT=8000;
CORS_ORIGIN= *;

ACCESS_TOKEN_SECRET = chai-aur-code;
ACCESS_TOKEN_EXPIRY = 1d;
REFRESH_TOKEN_SECRET = chai-aur-backend;
REFRESH_TOKEN_EXPIRY = 10d; 

CLOUDINARY_CLOUD_NAME = chaiaurcode;
CLOUDINARY_API_KEY = 337146499223256;
CLOUDINARY_API_SECRET = gUelz6eM11CX7ewc9dmXUnPL97M;


MONGOBD_URI = mongodb+srv://prashant:Prashant123@cluster0.jauyarb.mongodb.net